body {
  font-family: "Poppins", sans-serif;
}

/* Banner Carousel Styles */

.carousel-codebd {
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 1;
}

.carousel-codebd::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(29, 29, 29, 0.6);
  z-index: -1;
}

.carousel-codebd .carousel-caption {
  transform: translateY(50%);
}

/* Footer Social Link Styles */

.social-links .link-light {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* Responsive Styles */

@media screen and (max-width: 576px) {
  .carousel-codebd {
    min-height: 262px;
  }
}

@media screen and (max-width: 992px) {
  .carousel-codebd {
    min-height: 400px;
  }
}
